.banner {
  background-image: url("../../images/cover.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.banner > h1 {
  margin: 2rem 0;
  font: 600 2rem 'Roboto';
}

.banner > p {
  font: 300 1.2rem 'Lucida Sans';
}

.banner > a > button {
  margin-top: 1rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
  font: 500 1rem 'Roboto';
}

.banner > a > button:hover {
  background-color: transparent;
  color: white;
}

.homeHeading {
  text-align: center;
  font-family: 'Roboto';
  font-size: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  width: fit-content;
  margin: 2rem auto;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 2rem auto;
  width: 80%;
}
